.input-container-focused {
  outline: 6px solid #d5e7fa;
  border-color: #097ff5;
  border-width: 2px;
}

.form-container {
  width: 460px;
  height: 578px;
  margin-top: 120px;
  padding: 45px;
}

.form-container > .logo {
  margin-top: -15px;
}

.form-container > .login-email {
  margin-top: 55px;
}

.input-container {
  position: relative;
  height: 64px;
  overflow: hidden;
  border-radius: 5px;
}
.input-container > p {
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 17px;
  width: max-content;
  transition-duration: 0.2s;
  transition-property: font-size top;
  transition-timing-function: ease-in-out;
}
.input-container > .panim {
  top: 6px;
  font-size: 14px;
}
.input-container > input {
  position: absolute;
  top: 0;
  left: 0;
  height: 62px;
  padding: 10px;
  padding-top: 20px;
  margin: 0;
  background: transparent;
}

button {
  transition-duration: 0.2s;
  transition-property: background border-color;
}
.primary-button {
  background: #0544b5;
  border: 4px solid #0544b5;
  padding: 8px;
}
.primary-button:hover {
  background: #0878ed;
  border-color: #0878ed;
}
.primary-button-down {
  background: #003087 !important;
  border-color: #003087 !important;
}
.primary-button:focus {
  border-color: #0978ed;
}
.secondary-button {
  font-weight: 400;
  font-family: "pp-open-bold";
  color: #00163c;
  transition-duration: 0.2s;
  transition-property: border-color color;
}
.secondary-button:hover {
  border-color: #2e8ae5;
  color: #0c73e0;
}
